@import url("./components/form.css");

body {
  display: flex;
  justify-content: center;

  background: rgba(179, 220, 237, 1);
}

.body {
  margin-top: 50px;
  outline: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
